.Rapp.history
.DS_Store
.RData
.Rdata
/Archive
/Content_Area/Data
/Content_Area_by_Mode/Data
/Content_Area/Visualizations
/Content_Area_by_Mode/Visualizations
/Content_Area/Goodness_of_Fit
/Content_Area_by_Mode/Goodness_of_Fit
/Content_Area/Goodness_of_Fit
/Content_Area_by_Mode/Logs
/Content_Area/Logs
/Content_Area/TEMP
